/* generic html tag style */
body {
padding:0 17% 0 17%;
}
ul {
margin-top:0;
margin-bottom:0;
list-style-type:none;
}
table, th, td {
border:1px solid #ABC;
}
table {
border-collapse:collapse;
margin-top:50px;
margin-bottom:50px;
}
th, td {
padding:5px 15px 5px 15px;
}

/* generic class style */
.center {
margin-left:auto;
margin-right:auto;
text-align:center;
}
.left {
}
.right {
}

/* specific element style */
#optionsBody {
border:1px solid #ABC;
padding:15px 5px 15px 5px;
}
#wb_follow_btn {
display: block;
}