/* generic html tag style */
body {
padding: 0 17% 0 17%;
}
table, th, td {
border: 1px solid #ABC;
}
table {
table-layout: fixed;
width: 100%;
border-collapse:collapse;
margin-top:50px;
margin-bottom:50px;
color:#567;
}
th, td {
padding:5px 15px 5px 15px;
overflow: auto;
}
ul {
list-style-type:none;
padding-left:20px;
}
li {
padding: 3px 0;
}

/* generic class style */
.center {
margin-left:auto;
margin-right:auto;
text-align:center;
}
.left {
float:left;
}
.right {
float:right;
}
.button {
min-width:120px;
min-height:33px;
color:#567;
}
.checkboxOptions {
width: 60%;
}

/* specific element style */
#optionsBody th:first-child {
width: 67%;
}
#optionsBody th:last-child {
width: 33%;
}
#visitsReport th:first-child {
width: 20%;
}
#visitsReport th:nth-child(2) {
width: 10%;
}
#visitsReport th:nth-child(3) {
width: 50%;
}
#visitsReport th:nth-child(4) {
width: 10%;
}
#visitsReport th:last-child {
width: 10%;
}
