/* generic html tag style */
body {
padding: 0 17% 0 17%;
}
table, th, td {
border: 1px solid #ABC;
}
table {
table-layout: fixed;
width: 100%;
border-collapse:collapse;
margin-top:50px;
margin-bottom:50px;
color:#567;
}
th, td {
padding:5px 15px 5px 15px;
}
ul {
list-style-type:none;
padding-left:20px;
}
li {
padding: 3px 0;
}

/* generic class style */
.center {
margin-left:auto;
margin-right:auto;
text-align:center;
}
.left {
float:left;
text-align:left;
}
.right {
float:right;
text-align:right;
}
.button {
min-width:120px;
min-height:33px;
color:#567;
}

/* specific element style */
